<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ADD NEW ITEM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="itemForm" (ngSubmit)="submitForm()">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Item Name</ion-label>
            <ion-input
              formControlName="item_name"
              type="text"
              autocomplete="off"
            ></ion-input>
          </ion-item>
          <div class="error-div" *ngIf="frm.item_name.invalid && (frm.item_name.dirty || frm.item_name.touched)">
            <span *ngIf="frm.item_name.errors?.required">Please enter item name</span>
          </div>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Item Code</ion-label>
            <ion-input
              formControlName="item_code"
              type="text"
              autocomplete="off"
            ></ion-input>
          </ion-item>
          <div class="error-div" *ngIf="frm.item_code.invalid && (frm.item_code.dirty || frm.item_code.touched)">
            <span *ngIf="frm.item_code.errors?.required">Please enter item code</span>
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Item Cost</ion-label>
            <ion-input
              formControlName="item_cost"
              inputmode="decimal"
              type="text"
              autocomplete="off"
            ></ion-input>
          </ion-item>
          <div class="error-div" *ngIf="frm.item_cost.invalid && (frm.item_cost.dirty || frm.item_cost.touched)">
            <span *ngIf="frm.item_cost.errors?.required">Please enter item cost</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Item Description</ion-label>
            <ion-input
              formControlName="item_desc"
              type="text"
              autocomplete="off"
            ></ion-input>
          </ion-item>
          <div class="error-div" *ngIf="frm.item_desc.invalid && (frm.item_desc.dirty || frm.item_desc.touched)">
            <span *ngIf="frm.item_desc.errors?.required">Please enter description</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <img *ngIf="imgBase64 != ''" [src]="imgBase64">
          <ion-button type="button" class="btn-outline" expand="block" (click)="capturePhoto()">
            <ion-icon name="camera-outline"></ion-icon>
            <ion-label>{{ imgBase64 == '' ? 'Capture Photo' : 'Re-Capture Photo' }}</ion-label>
           </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-top">
          <ion-button type="submit" expand="block">Submit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
