<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="secondary">
      <ion-button (click)="logout()">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>KS BASKET'S</ion-title>
  </ion-toolbar>
  
  <!-- <ion-toolbar color="secondary">
    <ion-title>
      KS BASKET'S
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <div cards>

    <div class="grid-full">
      <ion-row>
        <ion-col>
          <ion-card>
            <h2 orange>{{ totalCustomers }}</h2>
            <p>Customers</p>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <h2 grey>{{ totalSales }}</h2>
            <p>Total Sales</p>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card class="ion-activatable ripple-parent" (click)="gotoItems()">
            <p>Items</p>
            <ion-icon name="arrow-forward-outline"></ion-icon>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card class="ion-activatable ripple-parent" (click)="gotoSales()">
            <p>Sales</p>
            <ion-icon name="arrow-forward-outline"></ion-icon>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card class="ion-activatable ripple-parent" (click)="gotoItemwiseSales()">
            <p>Itemwise Sales</p>
            <ion-icon name="arrow-forward-outline"></ion-icon>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

  </div>

  
</ion-content>