[cards] {
  margin: 16px;
  .grid-full ion-col {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px 0;
  }
  .row {
    padding: 0 12px;
  }
  .col {
    padding: 5px 0;
  }
  ion-card {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 0 5px;
    width: calc(100% - 10px);
    padding: 14px;
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    h2 {
      font-family: "gilroy-bold" !important;
      font-size: 1.6rem;
      margin: 0px;
      color: var(--ion-color-secondary);
      font-weight: 700;
    }
    ion-icon{
      font-size: 1.4rem;
      margin-top: 8px;
      color: var(--ion-color-tertiary);
    }
    p {
      font-weight: 100;
      font-size: 1.2rem;
      margin-top: 4px;
      margin-bottom: 0px;
    }
  }
}
