ion-content{
    --padding-top: 40px;
}
.top-sec{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    .lbl-hey{
        margin-top:40px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    .lbl-welcome{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height, or 150% */


        /* Black-color */

        color: #1D1617;
    }
}

.custom-input{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ADA4A5;
    --ion-background: #F7F8F8;
    --ion-border: none;
    --border-color: #fff;
    --background: #F7F8F8;
    margin-left: 30px;
    margin-right: 30px;
    // border-radius: 15px;
    // overflow: hidden;
    
    
}

.custom-btn{
    margin-left: 30px;
    margin-right: 30px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    border-radius: 99px;
    overflow: auto;
    height: 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    filter: drop-shadow(0px 10px 22px rgba(149, 173, 254, 0.3));
}

::ng-deep .native-input.sc-ion-input-md{
    padding-bottom: 0px !important;
}

.custom-footer{
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 200;
}