<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signin</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="top-sec">
    <ion-label class="lbl-hey">Hey there</ion-label>
    <ion-label class="lbl-welcome">Welcome Back</ion-label>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <ion-grid style="margin-top:30px">
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input
              formControlName="username"
              type="text"
              autocomplete="off"
            ></ion-input>
          </ion-item>
          <div class="error-div" *ngIf="frm.username.invalid && (frm.username.dirty || frm.username.touched)">
            <span *ngIf="frm.username.errors?.required">Please enter username</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input
              formControlName="password"
              type="password"
              autocomplete="off"
              autocorrect="off"
            ></ion-input>
          </ion-item>
          <div class="error-div" *ngIf="frm.password.invalid && (frm.password.dirty || frm.password.touched)">
            <span *ngIf="frm.password.errors?.required">Please enter password</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-button type="submit" expand="block">Sign in</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
  
</ion-content>
<ion-footer class="ion-no-border custom-footer">
  <ion-label>{{ version }}</ion-label>
</ion-footer>
