:root {
    --color-primary: #056526;
    --color-secondary: #8dbf16;
	--color-bg: #f7f7f7;
}

body{
	background-color: #F6F6F6 !important;
}

.display-flex-col{
	display:flex;
	flex-direction: column;
}

.display-flex-row{
	display:flex;
	flex-direction: row;
}

.dt-brand {
    background-color: var(--color-primary);
}

.dt-sidebar--fixed .dt-brand+.dt-header__toolbar {
    background-color: #F6F6F6;
}

.dt-header{
	background-color: var(--color-primary);
}

.dt-sidebar__container {
    background-color: #efefef;
    height: 100%;
	border-right: 1px solid #e5e5e5;
}

.add-btn-div {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.dt-avatar-name {
    color: var(--color-primary);
}

#toast-container>.toast-error {
    background-color: #BD362F;
}

#toast-container>.toast-success {
    background-color: #00ac17;
}

.dt-login__bg-section:before {
    background-color: #FFF !important;
}

.btn-primary {
    background-color: var(--color-primary) !important;
}

.dt-side-nav__header {
    color: #9e9e9e;
}

.dt-side-nav__text{
	line-height: 2 !important;
	font-size:16px !important;
}

.dt-avatar-name{
	text-transform: uppercase !important;
}

.dt-side-nav__link:hover, .dt-side-nav__link:focus, .dt-side-nav__link:active{
	color: var(--color-primary) !important;
	font-weight: 600 !important;
	letter-spacing: 1px !important;
}

.dt-side-nav__text, .dt-side-nav__link .icon{
	color: var(--color-primary) !important;
	font-weight: 300 !important;
	letter-spacing: 1px !important;
}

.btn-primary {
	border:none !important;
}

.dt-brand{
	background-color: var(--color-primary) !important;
}

@media (min-width: 576px){
	.modal-dialog {
		max-width: 900px !important;
	}
}

.photo-section{
	display:flex;
	flex-direction:column;
	gap:5px;
}

.dt-entry__header:after{
	background-color: var(--color-primary) !important;
}

.required_span{
	color:#ff0000;
}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.dt-login__title{
	color: var(--color-primary);
}

.dt-login__title:after{
	background-color: var(--color-secondary) !important;
}

.custom-card-footer{
	display:flex;
	justify-content: flex-end;
	gap: 10px;
	padding-right: 0px !important;
    background-color: white !important;
}

.btn-cust-with-icon{
	display: flex !important;
    gap: 3px !important;
	align-items: center !important;
}

.btn-custom-reset{
    background-color: white !important;
    border: 1px solid #f2760c !important;
    color: #f2760c !important;
}

.error_span{
	color: red !important;
}

.req_span{
	color: red;
	margin-left:4px;
}

.sp-container{
	z-index: 9999 !important;
}

.dt-side-nav__arrow span{
    color: #b3b3b3 !important;
    font-weight: 400 !important;
}

.dt-side-nav__link i{
	font-weight: bold !important;
    color: var(--color-secondary) !important;
}

.custom-radio-col{
	display: flex;
    flex-direction: column;
    gap: 6px;
}

.dt-side-nav__sub-menu .dt-side-nav__link{
	padding-left: 20px !important;
}


