/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    // --color-primary: #980c4c;
    --primary-font: "gilroy-regular";
}

ion-content {
    font-family: "gilroy-regular" !important;
}

@font-face {
    font-family: "gilroy-thin"; //This is what we are going to call
    src: url("./assets/fonts/gilroy/Gilroy-Thin.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "gilroy-light"; //This is what we are going to call
    src: url("./assets/fonts/gilroy/Gilroy-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "gilroy-regular"; //This is what we are going to call
    src: url("./assets/fonts/gilroy/Gilroy-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "gilroy-medium"; //This is what we are going to call
    src: url("./assets/fonts/gilroy/Gilroy-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "gilroy-bold"; //This is what we are going to call
    src: url("./assets/fonts/gilroy/Gilroy-Bold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "gilroy-black"; //This is what we are going to call
    src: url("./assets/fonts/gilroy/Gilroy-Black.ttf");
    font-weight: 700;
}

body {
    font-family: "gilroy-regular" !important;
}

.error-div {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 4px;
    font-size: 0.8rem;
    font-family: "gilroy-light";
    color: red;
}

ion-toolbar {
    font-family: "gilroy-medium" !important;
}

.align-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.icon-delete{
    font-size: 18px;
    cursor:pointer
}

.btn-outline{
    --background: white;
    border: 1px solid var(--ion-color-secondary);
    color: var(--ion-color-secondary);
    box-shadow: none;
    ion-icon{
        margin-right: 10px;
    }
}

