<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>ITEM LIST</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-searchbar placeholder="Item Name/Code" [(ngModel)] ="searchTerm" (ionClear)="clearSearch()"></ion-searchbar>
      </ion-col>
      <ion-col size="2" style="display: flex;justify-content: space-around; align-items: center;">
        <ion-button type="button" class="btn-search" (click)="search()" expand="block" color="primary" mat-raised-button><ion-icon name="search-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="list-card" *ngFor="let item of tmpItems">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <div class="key-val">
                    <ion-label class="key">Item Code</ion-label>
                    <ion-label class="val">{{ item.item_code || '-' }}</ion-label>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div class="key-val">
                    <ion-label class="key">Item Name</ion-label>
                    <ion-label class="val">{{ item.item_name || '-' }}</ion-label>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <div class="key-val">
                    <ion-label class="key">Item Cost</ion-label>
                    <ion-label class="val">{{ item.item_cost || '-' }}</ion-label>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <div class="key-val">
                    <ion-label class="key">Item Description</ion-label>
                    <ion-label class="val">{{ item.item_desc || '-' }}</ion-label>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <div class="align-right">
                    <ion-chip *ngIf="item.is_sold == 1" color="danger">SOLD</ion-chip>
                    <ion-icon *ngIf="item.is_sold == 0" class="icon-delete" name="trash-outline" (click)="presentConfirmAlert(item.id_item)" color="danger"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" edge slot="fixed">
    <ion-fab-button (click)="addItem()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
