<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--padding-top:30px">
  <div class="about-app">
    <ion-title>CLUB SC</ion-title>
    <ion-label>v{{ version }}</ion-label>
  </div>
  
</ion-content>
