.about-app{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    ion-title{
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.72px;
    }
    ion-label{
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.38px;
    }
}