.list-card{
    margin: 15px 0px 0px 0px!important;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    ion-card-content{
        padding: 10px;
    }
    .key-val{
        display: flex;
        flex-direction: column;
        ion-label:nth-child(1){
            flex: 1;
            font-family: 'gilroy-regular';
            font-size: 12px;
        }
        ion-label:nth-child(2){
            flex: 2;
            font-family: 'gilroy-bold';
            letter-spacing: 0.50px;
        }
    }
}