<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ADD NEW SALE</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="saleForm" (ngSubmit)="submitForm()">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Customer Name</ion-label>
            <ion-input formControlName="customer_name" type="text" autocomplete="off"></ion-input>
          </ion-item>
          <div class="error-div"
            *ngIf="frm.customer_name.invalid && (frm.customer_name.dirty || frm.customer_name.touched)">
            <span *ngIf="frm.customer_name.errors?.required">Please enter customer name</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Whatsapp No.</ion-label>
            <ion-input formControlName="whatsapp_no" type="text" autocomplete="off" inputmode="numeric"></ion-input>
          </ion-item>
          <div class="error-div"
            *ngIf="frm.whatsapp_no.invalid && (frm.whatsapp_no.dirty || frm.whatsapp_no.touched)">
            <span *ngIf="frm.whatsapp_no.errors?.required">Please enter whatsapp no.</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Town</ion-label>
            <ion-input formControlName="town" type="text" autocomplete="off"></ion-input>
          </ion-item>
          <div class="error-div" *ngIf="frm.town.invalid && (frm.town.dirty || frm.town.touched)">
            <span *ngIf="frm.town.errors?.required">Please enter town</span>
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Payment Method</ion-label>
            <ion-select placeholder="Select Method" formControlName="payment_method" (ionChange)="onPaymentTypeChanged($event)">
              <ion-select-option value="cash">Cash</ion-select-option>
              <ion-select-option value="upi">UPI</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="error-div"
            *ngIf="frm.payment_method.invalid && (frm.payment_method.dirty || frm.payment_method.touched)">
            <span *ngIf="frm.payment_method.errors?.required">Please select payment method</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card class="list-card" *ngFor="let item of saleItem">
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="6">
                        <div class="key-val">
                          <ion-label class="key">Item Code</ion-label>
                          <ion-label class="val">{{ item.item_code || '-' }}</ion-label>
                        </div>
                      </ion-col>
                      <ion-col size="6">
                        <div class="key-val">
                          <ion-label class="key">Item Name</ion-label>
                          <ion-label class="val">{{ item.item_name || '-' }}</ion-label>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <div class="key-val">
                          <ion-label class="key">Item Cost</ion-label>
                          <ion-label class="val">{{ item.item_cost || '-' }}</ion-label>
                        </div>
                      </ion-col>
                      <ion-col size="6">
                        <div class="align-right">
                          <ion-icon class="icon-delete" name="trash-outline" (click)="deleteItem(item.id_item)" color="danger"></ion-icon>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-row>


      <ion-row>
        <ion-col size="12">
          <ion-button id="open-modal" type="button" class="btn-outline" expand="block" (click)="addItem()">
            <ion-icon name="add-outline"></ion-icon>
            <ion-label>Add Item</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Total Amount</ion-label>
            <ion-input type="text" formControlName="totalAmt" autocomplete="off"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-top">
          <ion-button type="submit" expand="block">Submit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>ADD ITEM</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Item Code</ion-label>
              <ion-input [(ngModel)]="itemCode" type="text" autocomplete="off" (keyup)="onItemCodeChanged($event)">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Item Name</ion-label>
              <ion-select placeholder="Select Item" [(ngModel)]="itemName" (ionChange)="onItemSelected()">
                <ion-select-option *ngFor="let item of itemList" [value]="item.item_name">{{item.item_name}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Item Cost</ion-label>
              <ion-input [(ngModel)]="itemCost" #inputId type="text" autocomplete="off"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="itemImg !== ''">
          <ion-col size="12">
              <img [src]="itemImg">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #qrmodal trigger="open-qr-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button (click)="cancelQr()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>UPI QR</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirmQr()" [strong]="true">OK</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <img src="http://iaironet.com/ks_basket/assets/upi.jpeg">
    </ion-content>
  </ng-template>
</ion-modal>