.splash-img{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    img{
        width:200px;
    }

    .fade-in {
        -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
}

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  