<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>SALE LIST</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-searchbar placeholder="Customer Name/Town" [(ngModel)] ="searchTerm" (ionClear)="clearSearch()"></ion-searchbar>
      </ion-col>
      <ion-col size="2" style="display: flex;justify-content: space-around; align-items: center;">
        <ion-button type="button" class="btn-search" (click)="search()" expand="block" color="primary" mat-raised-button><ion-icon name="search-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="list-card" *ngFor="let sale of tmpSales">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <div class="key-val">
                    <ion-label class="key">Customer Name</ion-label>
                    <ion-label class="val">{{ sale.customer_name || '-' }}</ion-label>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <div class="key-val">
                    <ion-label class="key">Town</ion-label>
                    <ion-label class="val">{{ sale.town || '-' }}</ion-label>
                  </div>
                </ion-col>
                <ion-col size="4">
                  <div class="key-val">
                    <ion-label class="key">Payment Method</ion-label>
                    <ion-label class="val">{{ sale.payment_method || '-' }}</ion-label>
                  </div>
                </ion-col>
                <ion-col size="4">
                  <div class="key-val">
                    <ion-label class="key">Total</ion-label>
                    <ion-label class="val">{{ sale.total_amt || '-' }}</ion-label>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="sale.isExpanded">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-card class="list-card" *ngFor="let item of sale.sale_items">
                        <ion-card-content>
                          <ion-grid>
                            <ion-row>
                              <ion-col size="6">
                                <div class="key-val">
                                  <ion-label class="key">Item Code</ion-label>
                                  <ion-label class="val">{{ item.item_code || '-' }}</ion-label>
                                </div>
                              </ion-col>
                              <ion-col size="6">
                                <div class="key-val">
                                  <ion-label class="key">Item Name</ion-label>
                                  <ion-label class="val">{{ item.item_name || '-' }}</ion-label>
                                </div>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <div class="key-val">
                                  <ion-label class="key">Item Cost</ion-label>
                                  <ion-label class="val">{{ item.item_cost || '-' }}</ion-label>
                                </div>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <ion-button (click)="toggle(sale.id_sale)">{{ sale.isExpanded ? 'Collapse' : 'Expand' }}</ion-button>
                </ion-col>
                <ion-col size="6">
                  <div class="align-right">
                    <ion-icon class="icon-delete" name="trash-outline" (click)="presentConfirmAlert(sale.id_sale)" color="danger"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
    <ion-fab-button (click)="addSale()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
